/* .home-page-container-first{
    margin: 0;
    padding: 0;
} */
/* .Home-page{
    width: 1440px;
        height: 6698px;
        background: #FFF;
}
.home-page-container-first{
     width: 849px;
        height: 540px;
        flex-shrink: 0;
}
.home-page-container-first-heading{
    display: flex;
    width: 849px;
    flex-direction: column;
    flex-shrink: 0;
    color: #000;
        text-align: center;
       
        font-family: Archivo;
        font-size: 60px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
}
.home-page-container-first-subheading{
    color: #323232;
        font-family: Archivo;
        font-size: 26px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
}
.home-page-container-first-btn{
    width: 150px;
        height: 40px;
        flex-shrink: 0;
        border-radius: 50px;
            background: #458EFF;
}
.home-page-container-first-slogan{
    width: 1235px;
        height: 486px;
        flex-shrink: 0;
        border-radius: 9px;
            background: #F9F9F9;
}
.home-page-container-first-slogan-text{
display: flex;
    width: 908px;
    flex-direction: column;
    flex-shrink: 0;
    color: #000;
        text-align: center;
        font-family: Archivo;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
}
.home-page-container-second{
    width: 1235px;
        height: 954px;
        flex-shrink: 0;
}
.home-page-container-second-heading{
    color: #000;
        text-align: center;
        font-family: Archivo;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
}
.home-page-container-second-features-items{
        width: 395px;
        height: 318px;
        flex-shrink: 0;
        border-radius: 15px;
        background: #FFF;
        box-shadow: 2px 2px 9px 5px rgba(151, 144, 144, 0.25);
}
.home-page-container-second-features-item-name{
    display: flex;
        width: 345px;
        flex-direction: column;
        flex-shrink: 0;
        color: #000;
            text-align: center;
            font-family: Archivo;
            font-size: 40px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
}
.home-page-container-third{
    width: 1255px;
        height: 1000px;
        flex-shrink: 0;
}
.home-page-container-heading{
        color: #000;
        text-align: center;
        font-family: Archivo;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
}
.home-page-container-trending-courses-items{
    width: 500px;
        height: 752px;
        flex-shrink: 0;
        border-radius: 21px;
            background: #FFF;
            box-shadow: 2px 2px 9px 5px rgba(151, 144, 144, 0.25);
}
.course-image{
    width: 500px;
        height: 400px;
        flex-shrink: 0;
        border-radius: 21px 21px 0px 0px;
             background: url(<path-to-image>), lightgray 0px -97.18px / 100% 187.34% no-repeat; 
}
.trending-course-name{
    color: #000;
    font-family: Archivo;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.trending-course-details{
    display: flex;
        width: 456px;
        flex-direction: column;
        flex-shrink: 0;
        color: #323232;
            font-family: Archivo;
            font-size: 26px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
}
.trending-courses-ratings{
color: #000;
    font-family: Archivo;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.trending-courses-explore-btn{
    width: 409px;
        height: 69px;
        flex-shrink: 0;
}
.home-page-container-newsletter{
    width: 865px;
        height: 447px;
        flex-shrink: 0;
        border-radius: 31px;
            background: #F9F9F9;
}
.newsletter-heading{
    display: flex;
        width: 571px;
        flex-direction: column;
        flex-shrink: 0;
}
.newsletter-input-email{
width: 527px;
    height: 82px;
    flex-shrink: 0;
    border-radius: 45px;
        background: #FFF;
} */
.Home-page{
    display: flex;
        flex-direction: column;
        text-align: center;
}
.home-page-container-first-heading{
    font-size:45px;
    font-weight:900;
    font-family: Archivo;
}