@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@500;600;700;900&display=swap");
body {
  margin: 0;
  line-height: normal;
  font-family: 'Archivo', sans-serif !important;
}
:root {
  /* fonts */
  --description-text: Archivo;

  /* font sizes */
  --description-text-size: 26px;
  --font-size-5xl: 24px;
  --button-text-size: 40px;
  --font-size-13xl: 32px;
  --font-size-17xl: 36px;
  --section-heading-size: 48px;
  --fontbody-size: 96px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-dodgerblue: #458eff;
  --color-silver-100: #c5c5c5;
  --color-darkslategray: #323232;
  --color-whitesmoke: #f9f9f9;

  /* border radiuses */
  --br-4xs: 9px;
  --br-12xl: 31px;
  --br-2xl: 21px;
  --br-31xl: 50px;
  --br-mini: 15px;

  /* Effects */
  --drop-shadow: 2px 2px 9px 5px rgba(151, 144, 144, 0.25);
}
