.popup-section {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 18px 9px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    height: 300px;
}
.popup-heading {
    margin-bottom: 25px;
}
.buy-sell-section {
    display: flex;
    justify-content: space-between;
}
.buy-btn {
    background-color: #458EFF;
    border-radius: 9px;
    padding: 10px;
    width: 100px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}
.sell-btn {
    background-color: #458EFF;
    border-radius: 9px;
    padding: 10px;
    width: 100px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
