.navbar {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 11px;
    background-color: var(--color-white);
    border: 2px solid #d3cdcd;
    box-sizing: border-box;
    opacity: 0.9;
  }
  .about,
  .events,
  .find-help,
  .learn,
  .sellbuy {
    position: absolute;
    top: 0;
    left: 30.92%;
    font-weight: 500;
  }
  .about,
  .events,
  .learn,
  .sellbuy {
    left: 15.46%;
  }
  .events,
  .learn,
  .sellbuy {
    left: 52.77%;
  }
  .learn,
  .sellbuy {
    left: 69.92%;
  }
  .sellbuy {
    left: 84.71%;
  }
  .nav-items {
    position: absolute;
    height: 30.59%;
    width: 48.18%;
    top: 34.12%;
    right: 23.48%;
    bottom: 35.29%;
    left: 28.34%;
  }
  .sign-up-button-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--br-4xs);
    background-color: var(--color-dodgerblue);
  }
  .sign-in {
    position: absolute;
    top: 31.45%;
    left: 24.94%;
    font-weight: 600;
  }
  .authentication,
  .sign-up-button {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .authentication {
    height: 64.71%;
    width: 10.69%;
    top: 17.65%;
    right: 4.29%;
    bottom: 17.65%;
    left: 85.02%;
    color: var(--color-white);
  }
  .graduation-cap-icon {
    position: absolute;
    height: 100%;
    width: 21.84%;
    top: 0;
    right: 78.16%;
    bottom: 0;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .help {
    color: var(--color-dodgerblue);
  }
  .hustlershelp {
    top: 20%;
    left: 26.7%;
  }
  .hustlershelp,
  .logo,
  .nav {
    position: absolute;
  }
  .logo {
    height: 52.94%;
    width: 16.68%;
    top: 23.53%;
    right: 80.16%;
    bottom: 23.53%;
    left: 3.16%;
  }
  .nav {
    top: 45px;
    left: calc(50% - 618px);
    width: 1235px;
    height: 85px;
    font-size: var(--font-size-5xl);
  }
  
  .logo1 {
    position: absolute;
    height: 11.69%;
    width: 16.68%;
    top: 15.84%;
    right: 76.84%;
    bottom: 72.47%;
    left: 6.48%;
    color: var(--color-white);
  }
 
  .home {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    height: 6698px;
    overflow: hidden;
    text-align: left;
    font-size: var(--section-heading-size);
    color: var(--color-black);
    font-family: var(--description-text);
  }
div {
    display: block;
}